.App {
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
span {
  color: grey;
  font-weight: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.box {
  background-color: rgba(255, 255, 255, 0.9);
}
body {
  background-image: url(https://lh3.googleusercontent.com/p/AF1QipOyoyEwh81dCtyDg_cmFXoXQAn8dFwVbBMOIle-=w768-h768-n-o-v1);
  background-size: cover;
  background-color: grey;
}
